body {
  font-family: Fira Code Medium;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 2em; /* Adjust margin for spacing between links */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

main {
  padding: 2em;
}

.wallpapers {
  text-align: center;
}

.wallpaper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.card {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Maintains a consistent aspect ratio */
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire card */
  object-position: center; /* Centers the image */
}

#about {
  margin-top: 3em;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
